# Problem Statement

We will work on Iris dataset to predict the flower species

# What is Naive Bayes algorithm?

It is a classification technique based on Bayes’ Theorem with an assumption of independence among predictors. In simple terms, a Naive Bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature.

For example, a fruit may be considered to be an apple if it is red, round, and about 3 inches in diameter. Even if these features depend on each other or upon the existence of the other features, all of these properties independently contribute to the probability that this fruit is an apple and that is why it is known as ‘Naive’.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
iris_df = sns.load_dataset('iris')

In [6]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
X = iris_df.drop(columns=['species'])
y = iris_df['species']

In [11]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
# using GaussianNB

from sklearn.naive_bayes import GaussianNB

In [19]:
model = GaussianNB()
model.fit(X_train_scaled, y_train)

GaussianNB()

In [21]:
y_pred = model.predict(X_test_scaled)
y_pred

array(['versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa', 'setosa',
       'versicolor', 'setosa', 'setosa', 'virginica', 'versicolor',
       'setosa', 'setosa', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'setosa'], dtype='<U10')

In [22]:
# Creating confusion matrix

In [23]:
from sklearn.metrics import confusion_matrix

In [25]:
print(confusion_matrix(y_test, y_pred))

[[19  0  0]
 [ 0 12  1]
 [ 0  0 13]]

In [26]:
from sklearn.metrics import accuracy_score

In [28]:
print(accuracy_score(y_test, y_pred))

0.9777777777777777

In [29]:
# Comparing the Real Values with Predicted Values
# In this step, a Pandas DataFrame is created to compare the classified values of both the original Test set (y_test) and 
# the predicted results (y_pred).

In [31]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

    Real Values Predicted Values
73   versicolor       versicolor
18       setosa           setosa
118   virginica        virginica
78   versicolor       versicolor
76   versicolor       versicolor
31       setosa           setosa
64   versicolor       versicolor
141   virginica        virginica
68   versicolor       versicolor
82   versicolor       versicolor
110   virginica        virginica
12       setosa           setosa
36       setosa           setosa
9        setosa           setosa
19       setosa           setosa
56   versicolor        virginica
104   virginica        virginica
69   versicolor       versicolor
55   versicolor       versicolor
132   virginica        virginica
29       setosa           setosa
127   virginica        virginica
26       setosa           setosa
128   virginica        virginica
131   virginica        virginica
145   virginica        virginica
108   virginica        virginica
143   virginica        virginica
45       setosa           setosa
30       setosa           setosa
22       setosa           setosa
15       setosa           setosa
65   versicolor       versicolor
11       setosa           setosa
42       setosa           setosa
146   virginica        virginica
51   versicolor       versicolor
27       setosa           setosa
4        setosa           setosa
32       setosa           setosa
142   virginica        virginica
85   versicolor       versicolor
86   versicolor       versicolor
16       setosa           setosa
10       setosa           setosa

In [33]:
len(df)

45

In [45]:
# Alternative approach

In [43]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [44]:
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test) 
accuracy_nb=round(accuracy_score(y_test,Y_pred)* 100, 2)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)

cm = confusion_matrix(y_test, Y_pred)
accuracy = accuracy_score(y_test,Y_pred)
precision =precision_score(y_test, Y_pred,average='micro')
recall =  recall_score(y_test, Y_pred,average='micro')
f1 = f1_score(y_test,Y_pred,average='micro')
print('Confusion matrix for Naive Bayes\n',cm)
print('accuracy_Naive Bayes: %.3f' %accuracy)
print('precision_Naive Bayes: %.3f' %precision)
print('recall_Naive Bayes: %.3f' %recall)
print('f1-score_Naive Bayes : %.3f' %f1)

Confusion matrix for Naive Bayes
 [[19  0  0]
 [ 0 12  1]
 [ 0  0 13]]
accuracy_Naive Bayes: 0.978
precision_Naive Bayes: 0.978
recall_Naive Bayes: 0.978
f1-score_Naive Bayes : 0.978